@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
h1,h2,h3{
    font-family: "Cairo", sans-serif;
}
p{
    font-family: "Roboto", sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --bg-color:#f1f1f1;
    --bg-secondary: #FB923C;
    --light-orange: #F9731633;
    --bg-light-orange: #FFF7ED66;
    --black: #111827;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}